// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.hidden {
	display: none;
}

.mapcanvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -999;
}